{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Group's list
{% endblock %}

{% block header %}
    List of group
{% endblock %}

{% block content %}
<form method="get">
    {{ object_list.form | crispy }}
    <input class="btn btn-success mb-3 mt-3" type="submit" value="Search">
</form>

    <p><strong>Student's count {{ object_list.count }}</strong></p>

    <table class="table table-sm">
        <tr>
            <th>N</th>
            <th>First name</th>
            <th>Last name</th>
            <th>City</th>
            <th>Phone number</th>
            <th>Birthday</th>
            <th>Email</th>
            <th>Teachers</th>
            <th><i class="bi bi-pencil"></i></th>
            <th><i class="bi bi-trash-fill"></i></th>
        </tr>
        {% for student in object_list %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{student.first_name}}</td>
            <td>{{student.last_name}}</td>
            <td>{{student.city}}</td>
            <td>{{student.phone_number}}</td>
            <td>{{student.birthday}}</td>
            <td>{{student.email}}</td>
            <td>{% if student.teacher %}{{ student.teacher }}{% endif %}</td>
            <td> <a href = "{% url 'groups:update' student.id %}">EDIT</a> </td>
            <td> <a href = "{% url 'groups:delete' student.id %}">DELETE</a> </td>
        </tr>
        {% endfor %}
    </table>>

{% endblock %}