{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Teacher's list
{% endblock %}

{% block header %}
    List of teachers
{% endblock %}

{% block content %}
<div class="collapse" id="collapseExample">
<form method="get">
    {{ object_filter.form | crispy }}
    <input class="btn btn-success mb-3 mt-3" type="submit" value="Search">
    </form>
</div>
    <p><strong>Teacher's count {{ object_list.count }}</strong></p>

    <table class="table table-sm">
        <tr>
            <th>N</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Phone number</th>
            <th>City</th>
            <th>Email</th>
            <th><i class="bi bi-pencil"></i></th>
            <th><i class="bi bi-trash-fill"></i></th>
        </tr>
        {% for teach in object_list %}
        <tr>
            <td>{{page_obj.start_index|add:forloop.counter0}}</td>
            <td>{{teach.first_name}}</td>
            <td>{{teach.last_name}}</td>
            <td>{{teach.phone_number}}</td>
            <td>{{teach.city}}</td>
            <td>{{teach.email}}</td>
<!--            <td>{%if teach.groups %}{{teach.groups}}{% endif %}</td>-->
            <td> <a href = "{% url 'teachers:update' teach.id %}">EDIT</a> </td>
            <td> <a href = "{% url 'teachers:delete' teach.id %}">DELETE</a> </td>
        </tr>
        {% endfor %}
    </table>>
    {% if is_paginated %}
        {% include 'includes/paginator.html' %}
    {% endif %}
{% endblock %}
